<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
   <listeners>
  <listener class-name="framework.frameworkbuilding.Listener"/>
  </listeners>
  
  <test  name="homePageTest">
    <classes>
      <class name="framework.frameworkbuilding.HomePage"/>
     </classes>
  </test>
  
  <test  name="verifyTitle">
    <classes>
      <class name="framework.frameworkbuilding.VerifyTitle"/>
    </classes>
  </test>
  
  <test  name="verifyMenuBar">
    <classes>
      <class name="framework.frameworkbuilding.MenuBarPresent"/>
    </classes>
  </test>
   
</suite> <!-- Suite -->
